<!-- Body Wrapper : BEGIN -->
<table bgcolor="#313131" cellpadding="15" cellspacing="0" class="wrapper" role="presentation" width="100%">
	<tbody>
		<tr>
			<td><!-- New Patients Form : BEGIN --><!-- Logo : BEGIN-->
			<table align="center" cellpadding="0" cellspacing="0" class="container" role="presentation" style="margin-top: 0px;" width="700">
				<tbody>
					<tr>
						<td><!-- Row : BEGIN -->
						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td align="center" style="padding-bottom:15px"><img alt="Children's Dentistry of Longwood" border="0" height="auto" src="https://www.longwoodpediatricdentist.com/sites/longwoodpediatricdentist.com/files/logo.100.png" style="height: auto; max-width: 150px; width: 100%;" width="150px" /></td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
						<!-- Row : END -->
					</tr>
				</tbody>
			</table>
			<!-- Logo : END --><!-- New Patients Form : BEGIN -->

			<table align="center" bgcolor="whitesmoke" cellpadding="0" cellspacing="0" class="container" role="presentation" style="margin-top: 0px;" width="700">
				<tbody>
					<tr>
						<td><!-- Row : BEGIN -->
						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td align="center" class="col col-sm-12" style="font-size:16px; font-weight:bold; padding-top:3px" width="640px">New Patient Form</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><strong>Submission from :</strong> [current-user:ip-address]<br />
												<strong>Submitted on :</strong> [webform_submission:created]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:10px 5px 0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><span style="font-size:14px"><strong><u>Patient Info</u></strong></span><br />
												<strong>Does child go by another name?</strong> [webform_submission:values:new_patient_goes_by]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="35px"><strong>Sex</strong><br />
												[webform_submission:values:new_patient_sex]</td>
												<td class="col col-sm-4" width="200px"><strong>First Name</strong><br />
												[webform_submission:values:new_patient_first_name]</td>
												<td class="col col-sm-2" width="35px"><strong>M.I.</strong><br />
												[webform_submission:values:new_patient_middle_initial]</td>
												<td class="col col-sm-6" width="255px"><strong>Last Name</strong><br />
												[webform_submission:values:new_patient_last_name]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-2" width="90px"><strong>Age</strong><br />
												[webform_submission:values:new_patient_age]</td>
												<td class="col col-sm-4" width="145px"><strong>D.O.B.</strong><br />
												[webform_submission:values:new_patient_patients_dob]</td>
												<td class="col col-sm-4" width="200px"><strong>S.S.N.</strong><br />
												[webform_submission:values:new_patient_patients_ssn]</td>
												<td class="col col-sm-12" width="145px"><strong>Home Phone</strong><br />
												[webform_submission:values:new_patient_patients_home_phone]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="200px"><strong>Patient&#39;s Email</strong><br />
												[webform_submission:values:new_patient_patients_email]</td>
												<td class="col col-sm-8" width="310px"><strong>School</strong><br />
												[webform_submission:values:new_patient_patients_school]</td>
												<td class="col col-sm-3" width="90px"><strong>Grade</strong><br />
												[webform_submission:values:new_patient_patients_grade_level]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><strong>Have we treated any of their siblings?</strong> [webform_submission:values:new_patient_patients_siblings_treated]<br />
												[webform_submission:values:new_patient_patients_siblings_names]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><span style="font-size:12px"><strong>Patient&#39;s Home Address</strong></span><br />
												[webform_submission:values:new_patient_patients_street_address], [webform_submission:values:new_patient_patients_city], [webform_submission:values:new_patient_patients_state] [webform_submission:values:new_patient_patients_zip_code]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Patient Info : END --><!-- First Parent's Info : BEGIN --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:10px 5px 0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><span style="font-size:14px"><strong><u>First Parent&#39;s Info</u></strong></span><br />
												<strong>Is there first_parent Info?</strong> [webform_submission:values:new_patient_first_parents_info]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="90px"><strong>Relationship</strong><br />
												[webform_submission:values:new_patient_first_parents_relationship_to_child]</td>
												<td class="col col-sm-4" width="200px"><strong>First Name</strong><br />
												[webform_submission:values:new_patient_first_parents_first_name]</td>
												<td class="col col-sm-2" width="35px"><strong>M.I.</strong><br />
												[webform_submission:values:new_patient_first_parents_middle_initial]</td>
												<td class="col col-sm-6" width="255px"><strong>Last Name</strong><br />
												[webform_submission:values:new_patient_first_parents_last_name]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-4" width="90px"><strong>D.O.B.</strong><br />
												[webform_submission:values:new_patient_first_parents_dob]</td>
												<td class="col col-sm-8" width="145px"><strong>Driver License</strong><br />
												[webform_submission:values:new_patient_first_parents_dl]</td>
												<td class="col col-sm-5" width="90px"><strong>Home Phone</strong><br />
												[webform_submission:values:new_patient_first_parents_home_phone]</td>
												<td class="col col-sm-5" width="90px"><strong>Cell Phone</strong><br />
												[webform_submission:values:new_patient_first_parents_cell_phone]</td>
												<td class="col col-sm-12" width="145px"><strong>Email</strong><br />
												[webform_submission:values:new_patient_first_parents_email]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-4" width="90px"><strong>S.S.N.</strong><br />
												[webform_submission:values:new_patient_first_parents_ssn]</td>
												<td class="col col-sm-5" width="90px"><strong>Employed</strong><br />
												[webform_submission:values:new_patient_is_first_parent_employed]</td>
												<td class="col col-sm-12" width="255px"><strong>Employer</strong><br />
												[webform_submission:values:new_patient_first_parents_employers_name]</td>
												<td class="col col-sm-12" width="145px"><strong>Work Phone</strong><br />
												[webform_submission:values:new_patient_first_parents_work_phone]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><span style="font-size:12px"><strong>First Parent&#39;s Home Address</strong></span><br />
												<strong>Is same as child?</strong> [webform_submission:values:new_patient_first_parents_address_same_as_child]<br />
												[webform_submission:values:new_patient_first_parents_street_address], [webform_submission:values:new_patient_first_parents_city], [webform_submission:values:new_patient_first_parents_state] [webform_submission:values:new_patient_first_parents_zip_code]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- First Parent's Info : END --><!-- Second Parent's Info : BEGIN --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:10px 5px 0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><span style="font-size:14px"><strong><u>Second Parent&#39;s Info</u></strong></span><br />
												<strong>Is there second_parent Info?</strong> [webform_submission:values:new_patient_second_parents_info]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="90px"><strong>Relationship</strong><br />
												[webform_submission:values:new_patient_second_parents_relationship_to_child]</td>
												<td class="col col-sm-4" width="200px"><strong>First Name</strong><br />
												[webform_submission:values:new_patient_second_parents_first_name]</td>
												<td class="col col-sm-2" width="35px"><strong>M.I.</strong><br />
												[webform_submission:values:new_patient_second_parents_middle_initial]</td>
												<td class="col col-sm-6" width="255px"><strong>Last Name</strong><br />
												[webform_submission:values:new_patient_second_parents_last_name]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-4" width="90px"><strong>D.O.B.</strong><br />
												[webform_submission:values:new_patient_second_parents_dob]</td>
												<td class="col col-sm-8" width="145px"><strong>Driver License</strong><br />
												[webform_submission:values:new_patient_second_parents_dl]</td>
												<td class="col col-sm-5" width="90px"><strong>Home Phone</strong><br />
												[webform_submission:values:new_patient_second_parents_home_phone]</td>
												<td class="col col-sm-5" width="90px"><strong>Cell Phone</strong><br />
												[webform_submission:values:new_patient_second_parents_cell_phone]</td>
												<td class="col col-sm-12" width="145px"><strong>Email</strong><br />
												[webform_submission:values:new_patient_second_parents_email]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-4" width="90px"><strong>S.S.N.</strong><br />
												[webform_submission:values:new_patient_second_parents_ssn]</td>
												<td class="col col-sm-5" width="90px"><strong>Employed</strong><br />
												[webform_submission:values:new_patient_is_second_parent_employed]</td>
												<td class="col col-sm-12" width="255px"><strong>Employer</strong><br />
												[webform_submission:values:new_patient_second_parents_employers_name]</td>
												<td class="col col-sm-12" width="145px"><strong>Work Phone</strong><br />
												[webform_submission:values:new_patient_second_parents_work_phone]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><span style="font-size:12px"><strong>Second Parent&#39;s Home Address</strong></span><br />
												<strong>Is same as child?</strong> [webform_submission:values:new_patient_second_parents_address_same_as_child]<br />
												[webform_submission:values:second_parents_street_address], [webform_submission:values:new_patient_second_parents_city], [webform_submission:values:new_patient_second_parents_state] [webform_submission:values:new_patient_second_parents_zip_code]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- second_parent's Info : END --><!-- Accompany Info : BEGIN --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:10px 5px 0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><span style="font-size:14px"><strong><u>Accompanying&#39;s Info</u></strong></span></td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="145px"><strong>Accompanying the child?</strong><br />
												[webform_submission:values:new_patient_who_is_with_child]</td>
												<td class="col col-sm-5" width="200px"><strong>First Name</strong><br />
												[webform_submission:values:new_patient_accompanying_first_name]</td>
												<td class="col col-sm-7" width="255px"><strong>Last Name</strong><br />
												[webform_submission:values:new_patient_accompanying_last_name]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Accompany Info : END --><!-- Custody Info : BEGIN --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:10px 5px 0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><span style="font-size:14px"><strong><u>Custody&#39;s Info</u></strong></span></td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="145px"><strong>Who has custody?</strong><br />
												[webform_submission:values:new_patient_who_does_have_legal_costody]</td>
												<td class="col col-sm-5" width="200px"><strong>First Name</strong><br />
												[webform_submission:values:new_patient_legal_custody_first_name]</td>
												<td class="col col-sm-7" width="255px"><strong>Last Name</strong><br />
												[webform_submission:values:new_patient_legal_custody_last_name]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Custody Info : END --><!-- Prefered Communication Info : BEGIN --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:10px 5px 0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><span style="font-size:14px"><strong><u>Prefered Contact</u></strong></span></td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="145px"><strong>Prefered contact?</strong><br />
												[webform_submission:values:new_patient_preferred_method_of_communications]</td>
												<td class="col col-sm-5" width="90px"><strong>Call</strong><br />
												[webform_submission:values:new_patient_preferred_method_call]<br />
												[webform_submission:values:new_patient_preferred_method_call_other]</td>
												<td class="col col-sm-5" width="90px"><strong>Text</strong><br />
												[webform_submission:values:new_patient_preferred_method_text]<br />
												[webform_submission:values:new_patient_preferred_method_text_other]</td>
												<td class="col col-sm-12" width="255px"><strong>Email</strong><br />
												[webform_submission:values:new_patient_preferred_method_email]<br />
												[webform_submission:values:new_patient_preferred_method_email_other]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Prefered Communication Info : END --><!-- Financail Info : BEGIN --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:10px 5px 0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><span style="font-size:14px"><strong><u>Financail Info</u></strong></span><br />
												<strong>Responsible for account?</strong><br />
												[webform_submission:values:new_patient_financial_responsible_person]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-4" width="200px"><strong>First Name</strong><br />
												[webform_submission:values:new_patient_financial_responsible_first_name]</td>
												<td class="col col-sm-2" width="35px"><strong>M.I.</strong><br />
												[webform_submission:values:new_patient_financial_responsible_initial]</td>
												<td class="col col-sm-6" width="255px"><strong>Last Name</strong><br />
												[webform_submission:values:new_patient_financial_responsible_last_name]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-4" width="145px"><strong>S.S.N.</strong><br />
												[webform_submission:values:new_patient_financial_responsible_ssn]</td>
												<td class="col col-sm-5" width="145px"><strong>D.O.B.</strong><br />
												[webform_submission:values:new_patient_financial_responsible_dob]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-5" width="90px"><strong>Home Phone</strong><br />
												[webform_submission:values:new_patient_financial_responsible_home_phone]</td>
												<td class="col col-sm-7" width="145px"><strong>Work Phone</strong><br />
												[webform_submission:values:new_patient_financial_responsible_work_phone]</td>
												<td class="col col-sm-4" width="90px"><strong>Cell Phone</strong><br />
												[webform_submission:values:new_patient_financial_responsible_cell_phone]</td>
												<td class="col col-sm-8" width="200px"><strong>Email</strong><br />
												[webform_submission:values:new_patient_financial_responsible_email]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><span style="font-size:12px"><strong>Billing Address</strong></span><br />
												[webform_submission:values:new_patient_billing_street_address], [webform_submission:values:new_patient_billing_city], [webform_submission:values:new_patient_billing_state] [webform_submission:values:new_patient_billing_zip_code]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Financail Info : END --><!-- Insur. Info : BEGIN --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:10px 5px 0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><span style="font-size:14px"><strong><u>Insurance Info</u></strong></span><br />
												<strong>Is there Insurance?</strong><br />
												[webform_submission:values:new_patient_is_there_insur_info]<br />
												<!-- First Insur. Info : BEGIN --> <span style="font-size:12px"><strong><u>First Insur.</u></strong></span></td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-8" width="255px"><strong>Insur. Co. Name</strong><br />
												[webform_submission:values:new_patient_insur_insurance_name_1]</td>
												<td class="col col-sm-4" width="143px"><strong>Phone Number</strong><br />
												[webform_submission:values:new_patient_insur_phone_1]</td>
												<td class="col col-sm-12" width="200px"><strong>Plan Number</strong><br />
												[webform_submission:values:new_patient_insur_insurance_number_1]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><strong>Insur. Co. Address</strong><br />
												[webform_submission:values:new_patient_insur_1_street_address], [webform_submission:values:new_patient_insur_1_city], [webform_submission:values:new_patient_insur_1_state] [webform_submission:values:new_patient_insur_1_zip_code]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="145px"><strong>Policy Owner</strong><br />
												[webform_submission:values:new_patient_insur_1_po_relationship_to_child]</td>
												<td class="col col-sm-5" width="200px"><strong>First Name</strong><br />
												[webform_submission:values:new_patient_insur_1_po_first_name]</td>
												<td class="col col-sm-7" width="255px"><strong>Last Name</strong><br />
												[webform_submission:values:new_patient_insur_1_po_last_name]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-5" width="145px"><strong>S.S.N.</strong><br />
												[webform_submission:values:new_patient_insur_1_po_ssn]</td>
												<td class="col col-sm-5" width="145px"><strong>D.O.B.</strong><br />
												[webform_submission:values:new_patient_insur_1_po_dob]</td>
												<td class="col col-sm-12" width="310px"><strong>Employer</strong><br />
												[webform_submission:values:new_patient_insur_po_1_employer]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- First Insur. Info : END --><!-- Second Insur. Info : BEGIN --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:5px 5px 0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><span style="font-size:12px"><strong><u>Second Insur.</u></strong></span></td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-8" width="255px"><strong>Insur. Co. Name</strong><br />
												[webform_submission:values:new_patient_insur_insurance_name_2]</td>
												<td class="col col-sm-4" width="143px"><strong>Phone Number</strong><br />
												[webform_submission:values:new_patient_insur_phone_2]</td>
												<td class="col col-sm-12" width="200px"><strong>Plan Number</strong><br />
												[webform_submission:values:new_patient_insur_insurance_number_2]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><strong>Insur. Co. Address</strong><br />
												[webform_submission:values:new_patient_insur_2_street_address], [webform_submission:values:new_patient_insur_2_city], [webform_submission:values:new_patient_insur_2_state] [webform_submission:values:new_patient_insur_2_zip_code]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><strong>Policy owner same as previous?</strong> [webform_submission:values:new_patient_insur2_po_same]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="145px"><strong>Policy Owner</strong><br />
												[webform_submission:values:new_patient_insur_2_po_relationship_to_child]</td>
												<td class="col col-sm-5" width="200px"><strong>First Name</strong><br />
												[webform_submission:values:new_patient_insur_2_po_first_name]</td>
												<td class="col col-sm-7" width="255px"><strong>Last Name</strong><br />
												[webform_submission:values:new_patient_insur_2_po_last_name]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-5" width="145px"><strong>S.S.N.</strong><br />
												[webform_submission:values:new_patient_insur_1_po_ssn]</td>
												<td class="col col-sm-5" width="145px"><strong>D.O.B.</strong><br />
												[webform_submission:values:new_patient_insur_1_po_dob]</td>
												<td class="col col-sm-12" width="310px"><strong>Employer</strong><br />
												[webform_submission:values:new_patient_insur_po_1_employer]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Second Insur. Info : END --><!-- Third Insur. Info : BEGIN --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:5px 5px 0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><span style="font-size:12px"><strong><u>Third Insur.</u></strong></span></td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-8" width="255px"><strong>Insur. Co. Name</strong><br />
												[webform_submission:values:new_patient_insur_insurance_name_3]</td>
												<td class="col col-sm-4" width="143px"><strong>Phone Number</strong><br />
												[webform_submission:values:new_patient_insur_phone_3]</td>
												<td class="col col-sm-12" width="200px"><strong>Plan Number</strong><br />
												[webform_submission:values:new_patient_insur_insurance_number_3]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><strong>Insur. Co. Address</strong><br />
												[webform_submission:values:new_patient_insur_3_street_address], [webform_submission:values:new_patient_insur_3_city], [webform_submission:values:new_patient_insur_3_state] [webform_submission:values:new_patient_insur_3_zip_code]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><strong>Policy owner same as previous?</strong> [webform_submission:values:new_patient_insur3_po_same]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="145px"><strong>Policy Owner</strong><br />
												[webform_submission:values:new_patient_insur_3_po_relationship_to_child]</td>
												<td class="col col-sm-5" width="200px"><strong>First Name</strong><br />
												[webform_submission:values:new_patient_insur_3_po_first_name]</td>
												<td class="col col-sm-7" width="255px"><strong>Last Name</strong><br />
												[webform_submission:values:new_patient_insur_3_po_last_name]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-5" width="145px"><strong>S.S.N.</strong><br />
												[webform_submission:values:new_patient_insur_3_po_ssn]</td>
												<td class="col col-sm-5" width="145px"><strong>D.O.B.</strong><br />
												[webform_submission:values:new_patient_insur_3_po_dob]</td>
												<td class="col col-sm-12" width="310px"><strong>Employer</strong><br />
												[webform_submission:values:new_patient_insur_po_3_employer]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Third Insur. Info : END --><!-- Insur. Info : END --><!-- Billing Policy : BEGIN --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:7px 5px 0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td align="center" class="col col-sm-12" style="font-size:13px" width="640px"><br />
												<strong>BILLING, FINANCIAL, &amp; OFFICE POLICES</strong></td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><strong>TREATMENT</strong><br />
												The type of treatment you receive from Children&rsquo;s Dentistry of Longwood, PSC is based upon our professional dental judgement, and NOT on whether the procedure is covered by your Dental Insurance Benefit Plan.<br />
												<strong>DENTAL INSURANCE</strong><br />
												Our office is happy to file claims with your dental insurance carrier. However, since the terms of your coverage is a contract between you and your insurance carrier, questions, problems, or disputes about your insurance coverage need to be addressed directly to your insurance company. We submit insurance as a courtesy for you and your family. For all non-dental insurance claims, patients must pay in full upfront and will be reimbursed by their non-dental insurance if it applies. Ultimately, the fee and payment is the patient responsibility. It is the patient&rsquo;s responsibility to confirm with your dental insurance company that David E. Donald, D.D.S. is an &ldquo;in-network&rdquo; or &ldquo;out-of-network&rdquo; provider prior to being seen. In most cases we would be consider an out of network provider or in some cases a PPO provider. The patient is responsible for all charges not covered by their insurance policy.<br />
												It is your (the patient&rsquo;s) responsibility to know what your insurance coverage and limitations regardless if your insurance coverage is &ldquo;In or Out of network&rdquo;, which includes examinations, x-rays, and treatment of any kind. Payment of your copay, deductibles, estimated amount not covered by your dental insurance is due at the time services are rendered. Any amount not covered by your insurance or denial of coverage for any reason by your insurance coverage, or patient refusal to return to this office within 30 days to complete a procedure previously started, such as (but not limited to) laboratory procedures, becomes the patient&rsquo;s responsibility and payment is due immediately with no grace period. Children&rsquo;s Dentistry of Longwood reserves the right to ask for and expect payment in full with no grace period at any time, even prior to submitting dental claims to the patient&rsquo;s dental insurance.<br />
												<strong>DISPUTES WITH YOUR INSURANCE COMPANY</strong><br />
												If you have a dispute with your insurance company (Dental or other) over coverage, that dispute must be resolved between you and your insurance company. The amount owed to David E. Donald D.D.S. during the duration of your dispute is your responsibility and payment is due immediately in full, with no grace period.<br />
												<strong>DENTAL PRE-AUTHORIZATIONS</strong><br />
												Dental Pre-Authorizations for treatment are submitted in writing upon patient request. Pre-authorizations must be sent with up-to-date diagnostic x-rays, along with all necessary insurance, personal, dental and/or medical information. This can take up to 90 days if not 120 days. This is time from is from your insurance company. If you don&rsquo;t wait for your pre-authorization response before beginning treatment, you are still responsible for any amount not covered by your insurance for any examinations, x-rays and/or treatment. We recommend that you get your pre-authorization response back prior to starting treatment if you are needing to know the exact dollar amount of how much your potion will be.<br />
												<strong>LABORATORY CASES</strong><br />
												The day any laboratory procedure (such as but not limited to Space Maintainers) is started, your estimated portion is due in full the day of the first appointment or impression. If insurance denies or covers less than the estimated portion you will be billed for the remaining costs and payment is due immediately with no grace period.<br />
												<strong>CHANGE OF PERSONAL INFORMATION</strong><br />
												It is your responsibility to notify us, in writing, of any changes in your address, phone number, employment information, school status, insurance coverage and etc. so that you may maximize your insurance benefit. We have online forms to easily update your information at your covenance. Monthly statements are mailed out as a courtesy when there is any remaining portion after insurance has paid, otherwise all balances are due day of treatment.<br />
												<strong>FAMILY BALANCE</strong><br />
												All balances must be paid in full in order to proceed with future treatment. Guarantors (the patient or guardians) are responsible for any and all (but not limited to) collection agency recovery fees, attorney fees and/or legal fees, court costs, interest on delinquent accounts, as well as the time the doctor and/or staff spends working on (but not limited to) filing paperwork, appear for court, mediation/proceedings/and/or legal meetings and/or frivolous legal charges. There is a $45.00 charge on all returned checks (per check). At 120 days past due your account may be turned over to our collection agency, court and/or attorney. All of the above stated responsibilities of the patient are due immediately without a grace period. If David E. Donald, D.D.S. is notified as being included in any bankruptcy files, the patient and/or immediate family members will be dismissed as patients of David E. Donald, D.D.S. for failure to meet patient financial obligations to David E. Donald, D.D.S.<br />
												<strong>FINANCING</strong><br />
												David E. Donald, D.D.S. does not offer in house financing, Care Credit or payment plans. All fees are due at time of service unless expecting insurance to cover. Once all insurance payments or denials have been processed, the balance is due at that time.<br />
												<strong>NITROUS OXIDE/OXYGEN</strong><br />
												Nitrous Oxide is usually not covered by insurance. It is the guarantor&rsquo;s responsibility to pay for nitrous regardless if Nitrous Oxide is deemed necessary by the doctor or if requested by the patient to ease anxiety during dental procedures.<br />
												<strong>COPIES OF DENTAL RECORDS</strong><br />
												Florida State Law mandates that the patient or designated representative is entitled to 1 (one) coy of his/her dental Record&rsquo;s at no charge. If more than one is needed a fee may apply.<br />
												<strong>Do you agree to the above terms?</strong> [webform_submission:values:new_patient_terms_of_service]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="145px"><strong>Date</strong><br />
												[webform_submission:values:new_patient_signe_date]</td>
												<td class="col col-sm-5" width="200px"><strong>First Name</strong><br />
												[webform_submission:values:new_patient_signe_first_name]</td>
												<td class="col col-sm-7" width="255px"><strong>Last Name</strong><br />
												[webform_submission:values:new_patient_signee_last_name]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:7px 5px 0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td align="center" class="col col-sm-12" width="640px">
												<p>[webform_submission:values:new_patient_financial_signature]</p>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Billing Policy : END --><!-- Patient Dental History : BEGIN --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:7px 5px 0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><span style="font-size:14px"><strong><u>Patient&#39;s Dental History</u></strong></span><br />
												<strong>Do you have any of the following?</strong></td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-6" width="145px"><strong>Lip Sucking/Biting</strong><br />
												[webform_submission:values:new_patient_lip_sucking_biting]</td>
												<td class="col col-sm-6" width="145px"><strong>Thumb/Finger Sucking</strong><br />
												[webform_submission:values:new_patient_thumb_finger_sucking]</td>
												<td class="col col-sm-5" width="90px"><strong>Nail Biting</strong><br />
												[webform_submission:values:new_patient_nail_biting]</td>
												<td class="col col-sm-7" width="145px"><strong>Nursing/Bottle Habits</strong><br />
												[webform_submission:values:new_patient_nursing_bottle_habits]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-7" width="200px"><strong>Fist dental visit?</strong><br />
												[webform_submission:values:new_patient_childs_fist_visit_to_the_dentist]</td>
												<td class="col col-sm-5" width="90px"><strong>Last visit</strong><br />
												[webform_submission:values:new_patient_last_visit_dentist]</td>
												<td class="col col-sm-12" width="365px"><strong>Previous dentist</strong><br />
												[webform_submission:values:new_patient_previous_dentist]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="200px"><strong>Were X-Rays taken?</strong><br />
												[webform_submission:values:new_patient_were_x_rays_taken]</td>
												<td class="col col-sm-12" width="420px"><strong>by who?</strong><br />
												[webform_submission:values:new_patient_xrays_by_who]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="200px"><strong>Is there a general dentist?</strong><br />
												[webform_submission:values:new_patient_does_family_have_a_general_dentist]</td>
												<td class="col col-sm-12" width="420px"><strong>General dentist</strong><br />
												[webform_submission:values:new_patient_general_dentist]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><strong>Problem with previous dental work?</strong> [webform_submission:values:new_patient_problems_with_previous_visits]<br />
												explain - [webform_submission:values:new_patient_previous_problems_with_dental_work_explained]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><strong>Reason for dental visit today?</strong><br />
												[webform_submission:values:new_patient_reason_for_dentist_visit_today]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><strong>Injuries to the teeth, face, or mouth?</strong> [webform_submission:values:new_patient_have_there_been_any_injuries_to_the_teeth_face_mouth]<br />
												explain - [webform_submission:values:new_patient_teeth_face_mouth_injuries_explained]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><strong>Pain/tenderness in jaw/joint (TMJ/TMD)</strong> [webform_submission:values:new_patient_jaw_pain]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-7" width="145px"><strong>Water fluoridated?</strong><br />
												[webform_submission:values:new_patient_water_fluoridated]</td>
												<td class="col col-sm-5" width="145px"><strong>Brush Daliy</strong><br />
												[webform_submission:values:new_patient_brush_daliy]</td>
												<td class="col col-sm-7" width="145px"><strong>Fluoride supplements?</strong><br />
												[webform_submission:values:new_patient_take_fluoride_supplements]</td>
												<td class="col col-sm-5" width="145px"><strong>Floss Daliy</strong><br />
												[webform_submission:values:floss_daliy]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Patient Dental History : END --><!-- Patient Medical History : BEGIN --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:7px 5px 0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><span style="font-size:14px"><strong><u>Patient&#39;s Medical History</u></strong></span></td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-4" width="90px"><strong>Physician?</strong><br />
												[webform_submission:values:new_patient_patient_under_care_of_physician]</td>
												<td class="col col-sm-5" width="145px"><strong>Phone</strong><br />
												[webform_submission:values:new_patient_physicians_phone]</td>
												<td class="col col-sm-12" width="365px"><strong>Physician&#39;s Name</strong><br />
												[webform_submission:values:new_patient_physicians_name]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><strong>Does Child have any allergies?</strong> [webform_submission:values:new_patient_allergies]<br />
												list - [webform_submission:values:new_patient_allergies_explained]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN --><!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><strong>Patient&#39;s current health?</strong> [webform_submission:values:new_patient_current_health]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><strong>Any serious medical condition?</strong> [webform_submission:values:new_patient_serious_medical_conditions]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><strong>List drugs/supplements?</strong> [webform_submission:values:new_patient_current_drugs_supplements]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px"><strong>Does the child have any of the following?</strong> [webform_submission:values:new_patient_medical_conditions]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:7px 5px 0px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td align="center" class="col col-sm-12" width="640px"><br />
												<span style="font-size:13px"><strong>AUTHORIZATION FOR CARE</strong></span><br />
												<strong>Our Office is committed to meeting or exceeding the standards and mandated put forth by O.S.H.A., C.D.C., H.I.P.A.A., and the A.D.A.</strong></td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="640px">I authorize Children&rsquo;s Dentistry of Longwood and their staff to perform the necessary dental services my child may need.<br />
												I understand that the information I have given is correct to the best of my knowledge, that it will be held in the strictest of confidence and it is my responsibility to inform this office of any changes in my child&rsquo;s medical status.<br />
												<strong>Do you agree to the above?</strong> [webform_submission:values:new_patient_medical_terms_of_service]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td class="col col-sm-12" width="145px"><strong>Date</strong><br />
												[webform_submission:values:form_change_medical_signe_date]</td>
												<td class="col col-sm-5" width="200px"><strong>First Name</strong><br />
												[webform_submission:values:form_change_medical_signe_first_name]</td>
												<td class="col col-sm-7" width="255px"><strong>Last Name</strong><br />
												[webform_submission:values:new_patient_medical_signee_last_name]</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Row : BEGIN -->

						<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:7px 5px 10px 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td align="center" class="col col-sm-12" width="640px">
												<p>[webform_submission:values:new_patient_medical_signature]</p>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --><!-- Patient Medical History : END --></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
<!-- New Patients Form : END --><!-- Message Body : END --><!-- Body Wrapper : END --><!-- Pre  Footer Wrapper : BEGIN -->

<table bgcolor="#313131" cellpadding="15" cellspacing="0" class="wrapper" role="presentation" width="100%">
	<tbody>
		<tr>
			<td><!-- Pre  Footer Container : BEGIN -->
			<table align="center" bgcolor="#313131" cellpadding="0" cellspacing="0" class="container" role="presentation" width="700">
				<tbody>
					<tr>
						<td><!-- Row : BEGIN -->
						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td align="center" class="col col-sm-12" style="color:whitesmoke; font-size:14px; text-align:center" width="640px"><br />
												<strong>Children&#39;s Dentistry of Longwood</strong><br />
												<a href="https://www.google.com/maps/place/David+E.+Donald,+DDS,+Children's+Dentistry+of+Longwood/@28.6914357,-81.413179,16.26z/data=!4m5!3m4!1s0x88e773e6305c3fa5:0x2fa45829f3380163!8m2!3d28.6905094!4d-81.4091097" style="color: #03a7de">365 Wekiva Springs Rd Suite 121<br />
												Longwood, Florida 32779</a><br />
												<a href="tel:1-321-295-7893" style="color: #03a7de">(321) 295-7893</a><br />
												&nbsp;</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
<!-- Pre  Footer Container : END --><!-- Footer Wrapper : BEGIN --><!-- Logo : END -->

<table bgcolor="#03a7de" cellpadding="15" cellspacing="0" class="wrapper" role="presentation" width="100%">
	<tbody>
		<tr>
			<td><!-- Pre  Footer Container : BEGIN -->
			<table align="center" cellpadding="0" cellspacing="0" class="container" role="presentation" style="margin-top: 0px;" width="700">
				<tbody>
					<tr>
						<td><!-- Row : BEGIN -->
						<table align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
							<tbody>
								<tr>
									<td style="padding:0 5px">
									<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
										<tbody>
											<tr>
												<td align="center" class="col col-sm-12" style="color:whitesmoke; font-size:12px" width="640px">This document or email and its attachments contain privileged and confidential information and/or protected health information (PHI) intended solely for the use of Children&#39;s Dentistry or Longwood and the recipient(s) named above. If you are not the recipient, or the employee or agent responsible for delivering this message to the intended recipient, you are hereby notified that any review, dissemination, distribution, printing or copying of this email message and/or any attachments is strictly prohibited. If you have received this transmission in error, please notify the sender immediately at (321) 295-7893 and permanently delete this email and any attachments.</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- Row : END --></td>
					</tr>
				</tbody>
			</table>
			<!-- Pre  Footer Container : END --></td>
		</tr>
	</tbody>
</table>
<!-- Footer Wrapper : END -->
